.watermark-image {
    opacity: 0.9; /* Adjust the opacity value as needed */
    width: auto;
    height: 3em;
  }
.footer {
  
    position: relative;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
  }
  